[2020-06-19 09:13] thegrims opened #2 "Finish employer W2 section component design prototype"
This will be necessary to demonstrate a basic proof of concept for tax filing web application.

[2020-06-26 04:23] thegrims opened #4 "Add routing to the application to manage multiple pages effectively"

[2020-07-05 06:57] #4 closed, assigned to thegrims

[2020-07-14 08:24] thegrims opened #6 "Create Sidebar menu to be able to navigate easily"
* Add checkmarks to the sidebar to show users what is completed

[2020-07-21 01:14] thegrims opened #9 "Use Redux to manage the state of w2 employee / employer info"
* Use redux persist to save redux state to local storage so that when the website is opened after being closed, the form information is still available

[2020-07-26 08:12] #9 closed, assigned to thegrims

[2021-01-07 07:03] #6 closed

[2021-01-07 07:29] #2 closed

[2021-01-07 08:50] zakpatterson opened #15 "Return extensibility / schedules templating design"
We should come up with an easy way for users to add additional schedules they may need in their returns. As of now, the 1040 is the only one available.

* Data should be available to be filled and reusable from user's data model
* User's data model should be extensible so new data required for a schedule or form can be added.
* New schedule needs a link to download the appropriate PDF
* Needs to b

[2021-01-07 08:52] zakpatterson opened #16 "Typescript"
There are numerous reasons typescript is appropriate for this project. Just in terms of data validation, ensuring that the right type of data is used for form fields, constraining types of data, matching user's data model to pdf templates, etc.

Just a proposal that new code can come in TS form, and in the future existing typeless JS can go away.

[2021-01-08 02:30] thegrims commented on #16
This is something I was thinking about as well, do you know if anything need to be changed in order to support typescript usage?

[2021-01-08 02:49] thegrims commented on #15
To the data model points, as of right now form data is stored in redux in the structure of root->page->submittedFormText. This should be fairly extendable. The main barrier I can think of is that when the pdf is filled the object structure is flattened using `Object.assign({}, ...Object.values(state.information))` This means that all of the keys have to be unique. Not a problem right now, but it w

[2021-01-08 02:51] thegrims commented on #15
This could be an awesome way to crowdsource the flatFieldMappings

[2021-01-08 04:37] thegrims opened #17 "Change dropdown format to allow for easy navigation while being performant with many elements"
[https://www.reddit.com/r/opensource/comments/kqr89x/open_source_tax_filing_website/gi6d0jv/](https://www.reddit.com/r/opensource/comments/kqr89x/open_source_tax_filing_website/gi6d0jv/)

[2021-01-08 04:43] thegrims opened #18 "Investigate using react-number-format over react-input-mask"
https://www.npmjs.com/package/react-number-format

May improve formatting for dollar amounts with commas as well as addressing these issues

https://www.reddit.com/r/opensource/comments/kqr89x/open_source_tax_filing_website/gi6d0jv/

[2021-01-08 06:09] zakpatterson commented on #16
I think there are a few settings to add, I'll just add it to build js and ts together in my next PR. Just wanted to make sure you were on board.

[2021-01-08 06:10] #16 closed

[2021-01-10 01:04] thegrims opened #31 "Refactor LabeledCheckbox"
Currently, the labeled checkbox component can only have yes / no type inputs, should be refactored or another component should be created that can handle multiple checkboxes or radio inputs

[2021-01-10 07:11] zakpatterson commented on #17
I was also having problems getting that drop down rendered in tauri mode correctly. I'll try to rethink this.

[2021-01-10 08:17] thegrims opened #34 "Replace Wages (Form W-2) text on the top of the page with different text depending on section or remove entirely"

[2021-01-11 03:50] #17 closed

[2021-01-12 02:08] thegrims opened #39 "fix issue where default state in state dropdown is Alabama"

[2021-01-13 07:04] #39 closed

[2021-01-13 07:14] thegrims opened #42 "add precommit hook to fix linting errors when commiting"
lint-staged and pretty-quick both look like really good options

https://prettier.io/docs/en/precommit.html

[2021-01-13 07:29] thegrims opened #43 "rename family information page"
Given the content of the family information page, the name should be changed to potentially refund information or contact & bank information, something along those lines.

[2021-01-20 01:37] #34 closed

[2021-01-20 01:37] #43 closed

[2021-01-26 04:58] zakpatterson commented on #42
Can you just add a check for this in netlify? `yarn run lint` will return with an exit status code of 1 if there were any errors, 0 if there were no errors.

[2021-01-26 05:14] thegrims commented on #42
The idea is to add the hook not to detect errors but to have them be automatically & proactively fixed so a contributor can develop without worrying about formatting and then when committing, files are auto formatted to the projects formatting style

[2021-01-26 05:44] zakpatterson commented on #42
All hooks can be bypassed though so it's still needed in CI anyway imo.

[2021-01-28 00:31] thegrims commented on #42
@zakpatterson Changed the netlify build command to `CI=false npm run lint && npm run build`

[2021-01-28 00:33] thegrims commented on #42
`CI=false` makes warnings not fail the build

[2021-02-02 11:09] zakpatterson opened #68 "Support 1099 interest and dividends"
Lines 53-56 of the 1040, schedule b: https://www.irs.gov/pub/irs-pdf/f1040sb.pdf

Tracking todos:

* [x] #118 - Support income reported on 1099-INT, taxable interest
* [x] #124 - Support dividends reported on 1099-DIV (Schedule B Part II) - This is complicated because qualified dividends need to be captured on the qualified dividends and capital gains worksheet, probably requires #69 first
* [ ] S

[2021-02-02 11:12] zakpatterson opened #69 "Support capital gains income (1099 B), Schedule D"
Should be able to add data from multiple 1099 B forms, pdf output should include schedule D and accumulate to field number 64 on the 1040.

Todos:
* [x] [Schedule D or Capital Gains and Qualified Dividends worksheet](https://www.irs.gov/instructions/i1040sd#idm140312989632848)
* [x] Schedule D
* [x] Lines on 1040 (3a, 7)

Dealing with uncovered and unreported transactions is a separate issue:
* [

[2021-02-02 11:14] zakpatterson opened #70 "Add questions for dependents"
Checkboxes for field numbers 35, 36, and below from the 1040, "Child tax credit", "Credit for other dependents"

[2021-02-03 01:36] thegrims commented on #69
@zakpatterson  I think before capital gains and interest income are added the tax calculation 1040 fields 1-38 should be filled with default values or calculated so that the tax calculator gets to a very minimum viable product where someone could file their taxes on it if they fit a specific profile

[2021-02-07 04:00] #42 closed

[2021-02-08 04:52] thegrims opened #83 "If married filing separately box is checked, spouse name should be in first box"
Also if HOH or QW box is checked the child’s name should be entered if the qualifying person is a child but not the taxpayer's dependent

[2021-02-10 08:19] zakpatterson opened #88 "Runtime type validation"
All input elements ingest strings, and at runtime all typescript type information is no longer available, so strings can easily end up in the model.

https://github.com/thegrims/UsTaxes/pull/82/files#diff-464829cf1923068e6ce603cab38ebb785416301be67889ab3e2f0da74e04a432R25

We need to handle all these type errors just at the interface between the user and the action creators, so that any further an

[2021-02-12 00:33] #88 closed

[2021-02-12 08:17] zakpatterson opened #94 "Use schema validation to validate local storage rehydration"
After site upgrades, the model stored in local storage can easily become incorrect, so we should validate it when it is rehydrated.

Would be nice to version the model schema and apply some migration from version to version.

[2021-02-12 08:18] zakpatterson opened #95 "Improve schema validation to catch string formatting errors"
For example social numbers should be strings that only consist of digits.

[2021-02-12 21:37] zakpatterson commented on #15
I think the new design of the forms and the redux state / data model address this. Downloading the PDF directly probably isn't possible in client side web mode. Desktop mode of course it would work.

[2021-02-12 21:37] #15 closed

[2021-02-15 05:16] thegrims opened #97 "Add checklist for what types of forms are supported for visibility"
Users should be able to see what is supported so they don't fill out the forms and then end up running into something that they need that is missing

[2021-02-15 05:44] varunarora opened #98 "Why are you using tauri/rust?"
I went through your tauri/rust code and it doesn't seem like much is going on. Why are you using it? I am trying to understand the rationale.

If there is way to just use a node-based webserver, it would reduce this unnecessary dependency.

[2021-02-15 06:00] thegrims commented on #98
@varunarora Tauri & rust are being used for those that want to compile the site as a standalone desktop application using `npm run desktop-release` In the web app they are not used

[2021-02-15 19:37] varunarora commented on #98
Got it, and got it! I just re-read the readme, and wow I messed up with this issue. Super clear. Thanks!

[2021-02-15 19:37] #98 closed

[2021-02-15 19:57] thegrims commented on #98
No worries :)

[2021-02-16 04:55] thegrims opened #105 "Change bank routing number error message to suggest 9 digits rather than 10"
Routing numbers are 9 digits long, the error message should reflect that. Error messages should use 'digits' rather than 'numbers' for clarity.

![image](https://user-images.githubusercontent.com/8848557/108019634-80844e80-6fcf-11eb-8f18-8aae1bd82db4.png)

https://www.plainfinances.com/grow/routing-number/

[2021-02-16 14:42] bradydowling opened #108 "Landing page"
It would be really helpful to have a landing page with blurbs about what this project does right now and what it doesn't do. Perhaps a feature-to-feature comparison table with other popular tax products and their different tiers.

Side note, there are many people that would love to bury other popular tax products so if you're serious about this then you might consider doing a gofundme or some kind

[2021-02-16 20:47] thegrims commented on #108
Absolutely! I think this could be used in tandem with https://github.com/thegrims/UsTaxes/issues/97 to allow users to see if a tax form they need is not supported before they invest time in filling out the app

[2021-02-17 13:14] zakpatterson opened #113 "Development chat"
Can you open and link a gitter chat (or discord?)

[2021-02-17 13:29] zakpatterson opened #114 "Add auto release deployments of desktop application"
A lot of people in the hacker news chat were rightly worried about an unknown web site asking for their social details. Of course we know that data never leaves the user's machine but there's no obvious way for the user to know that.

I think it would help if we had regular releases of the desktop application binaries.

[2021-02-17 13:30] zakpatterson opened #115 "Fix documentation for running as desktop application, or wait for new tauri release"
[code]

[2021-02-18 13:42] zakpatterson commented on #115
This is fixed in tauri's main branch, and I think a release is coming soon. They moved their CLI to compile and run natively instead
of via node, so it is extremely fast.

A release is coming soon from tauri, but for now you can:

[code]
Assuming `$HOME/.cargo/bin` is on your path
[code]

[2021-02-19 01:27] thegrims commented on #114
That absolutely makes sense

[2021-02-19 03:02] thegrims commented on #113
Here's a link to the discord server I created https://discord.gg/dAaz472mPz

[2021-02-19 05:34] #113 closed

[2021-02-19 08:21] zakpatterson commented on #98
Hi @varunarora, It's still a work in progress, as Tauri is undergoing some major changes right now. I think the timing is good, and it will allow us to release extremely small binaries compared to making this an electron app. We also have a discord server now, come on over and hang out.

[2021-02-20 07:50] zakpatterson opened #121 "Add edit button for list forms"
The list component currently used for dependents, spouses, w2s and 1099s should support editing.

Hover over a list item to get an edit button, open form and replace form content on click, overwrite state on save.

[2021-02-20 11:13] zakpatterson opened #122 "Should we move this repository into its own organization?"
I opened [github.com/ustaxes](//github.com/ustaxes), with myself and @thegrims as owners

https://docs.github.com/en/github/administering-a-repository/transferring-a-repository#whats-transferred-with-a-repository

* Helps promote this project as its own independent thing
* I would like to be able to add a commit to #84 without superseding #84 or directly adding commits. If this were in its own rep

[2021-02-21 04:04] thegrims commented on #122
That sounds good to me

[2021-02-21 07:49] theoko opened #123 "when i click on 1099 the app crashes..."
just go to the website and click the 1099 button on the navigation menu

[2021-02-21 07:56] thegrims commented on #123
@theoko If you've entered data into the site previously and the data schema of the site changes, (when the 1099 PR was merged in) this can sometimes cause errors. Try opening the developer console, navigating to 'Application', and clicking the 'Clear Site Data' button. Let me know if that fixes the issue!

[2021-02-21 08:18] zakpatterson commented on #123
Hi @theoko, thanks for trying out the project. Can confirm, I see the same on a browser I tested this on last week, and the issue goes away if I use a fresh local storage. So I agree this is #94. For now we are just breaking the schema as we add features. Thanks for your interest in the project. Join our discord!

[2021-02-21 15:19] theoko commented on #123
I just tried it and it worked!

[2021-02-21 15:23] zakpatterson commented on #123
Thanks for trying! We'll close this as a duplicate of #94

[2021-02-21 15:23] #123 closed

[2021-02-22 13:41] MattHJensen opened #129 "FYI - possible testing resources"
Hello, thanks for a great project. I have enjoyed watching your work.

I am the maintainer of the [Tax-Calculator](github.com/pslmodels/tax-calculator) project. We currently [validate](https://github.com/PSLmodels/Tax-Calculator/tree/master/taxcalc/validation) against [internet TAXSIM](https://users.nber.org/~taxsim/taxsim32/).

You might consider using these projects in your testing.

If you woul

[2021-02-23 01:21] zakpatterson commented on #122
Yay!

[2021-02-23 01:21] #122 closed

[2021-02-23 01:30] zakpatterson commented on #94
#130 added the ability to define migrations that try to assure the schema is valid. When we change the schema in the future we will have to remember to include a migration to get from the previous version to the new version.

[2021-02-23 01:30] #94 closed

[2021-02-23 01:31] zakpatterson commented on #129
Thanks for the heads up! Your reviews of this project are always welcome. Also join our discord if you would like to chat about our respective goals with the projects!

[2021-02-23 01:31] #129 closed

[2021-02-23 02:00] thegrims commented on #129
Very cool, I've heard good things about NBER

[2021-02-25 03:27] #69 closed

[2021-02-25 04:13] zakpatterson commented on #68
I think this is closed as a result of #118 and #124. Unchecked boxes above are among myriad other separate features yet to be considered.

[2021-02-25 04:13] #68 closed

[2021-03-01 14:43] stevendaniels commented on #105
Should `digits` be used for all error messages in https://github.com/ustaxes/UsTaxes/blob/a0b1bb53fb274d6e8d12da458ed1d03cc3b7396c/src/components/Patterns.ts or just the routing number description?

[2021-03-02 00:11] thegrims commented on #105
@stevendaniels digits should be used for all of the error descriptions in patterns.ts instead of numbers, good callout

[2021-03-03 19:19] Zhomart opened #135 "Add ARCHITECTURE.md describing high-level structure of the project"
Please see this article - https://matklad.github.io/2021/02/06/ARCHITECTURE.md.html

This will be super super useful for contributors to quickly jump into contributing.

[2021-03-04 03:11] wisefool769 commented on #121
I'll take a stab at this

[2021-03-04 08:05] zakpatterson commented on #135
Hey @Zhomart, I think is a great idea. I tried to kick this off by adding #138. Would you please take a look at that PR and offer your comments? As that article you linked mentions, we've been staring at this code for a while, and the input of someone fresh is super valuable. Thanks!

[2021-03-04 21:59] zakpatterson commented on #121
@wisefool769 That's awesome. Please come to the discord channel, I can assist if needed.

[2021-03-05 07:00] #115 closed

[2021-03-06 03:52] #135 closed

[2021-03-10 23:11] zakpatterson commented on #114
Closed by #141

[2021-03-10 23:11] #114 closed

[2021-03-19 06:47] thegrims commented on #105
It appears that US bank account numbers can be 4-17 digits long https://stackoverflow.com/a/1540314/5853454

[2021-03-20 01:18] #105 closed

[2021-03-21 01:49] thegrims commented on #83
Looks like this has now been addressed, the below still needs to be implemented

[2021-03-22 10:56] jswiss commented on #83
I'm happy to take a look at this. Could you please provide a bit more context or a screenshot? I'm struggling to find these this part while running locally

[2021-03-22 11:01] zakpatterson commented on #83
No problem, so this is dealing with just the top section of the 1040.

![scrots_img_018](https://user-images.githubusercontent.com/1987109/111980023-179d7280-8b49-11eb-827c-4d084b8195e5.png)

You can see [this](https://github.com/ustaxes/UsTaxes/blob/36eb093eb8c584e1af9d49e669e34469208b04c9/src/irsForms/F1040.ts#L377) is the code that deals with pulling data out of our data model and providing to

[2021-03-22 11:21] zakpatterson commented on #83
I'm noticing aidan's comment above @jswiss. I think the MFS issue has been solved, and the remaining complexity is about inserting the name of the person that qualifies the taxpayer to file as QW and HoH.

Honestly I don't yet understand how to handle children that are not dependents for this situation yet. You're welcome to investigate this, or #121 might be lower hanging fruit at the moment.

[2021-03-22 11:40] jswiss commented on #83
Yeah, good shout. I'll focus on 121 for now.

[2021-03-23 08:46] jswiss commented on #121
I'm also happy to help on this, provided I'm not stepping on @wisefool769 's toes.

WRT edit button on hover, I believe screen readers struggle with modals so an 'edit on hover' approach would ding accessibility, so would it be ok to do an edit icon button next to the trash icon instead?

[2021-03-23 08:50] zakpatterson commented on #121
@jswiss you're right, go for it!

[2021-03-30 06:08] #18 closed

[2021-04-01 07:36] thegrims opened #201 "Stop desktop builds from publishing unless version is bumped"
Edit GitHub actions publishing action to only run when the version is bumped to avoid failed builds and wasted build minutes

[2021-04-03 03:32] Maximus- opened #205 "Support HSA form 8889"
Please add support for https://www.irs.gov/forms-pubs/about-form-8889 for Health Savings Accounts :)

[2021-04-03 03:34] zakpatterson commented on #205
Thanks @Maximus- -- are you interested in working on this? I don't have a lot of experience with HSAs, so we would need someone to come along with this need to work on it.

[2021-04-03 03:38] Maximus- commented on #205
Hmm.. I figured you'd say that :)

I'll see if I can find some time in the next few weeks.

[2021-04-03 03:41] zakpatterson commented on #205
We also have a roadmap we're beginning to sketch out on the Wiki, we're trying to come up with a way to prioritize work.

[2021-04-03 03:56] Maximus- commented on #205
Definitely sounds good; If the goals are to reach a wider audience, then it definitely makes sense to prioritize the more common forms. 80 open issues seems very optimistic, but if it's true, then that would be fantastic. Could also use a system where the open issues with the most votes get prioritized. Definitely like having one issue per schedule / form, to make it easier to track development an

[2021-04-03 04:10] zakpatterson commented on #205
Yeah the number of separate forms that could be attached to the 1040 is more than 25 and less than 50 (i think), plus 50 states, it's on the order of 80 or so distinct forms I think. Of course I'm not counting all the various incoming forms (K-1, 1099, W-2, etc) that a taxpayer receives, and I'm sure there are some states with more complex forms. https://en.wikipedia.org/wiki/IRS_tax_forms#1040.

[2021-04-08 23:59] thegrims opened #217 "After submitting a W2 on the wages page the 'Input data from W-2' dropdown stays open with the inputted income"
![image](https://user-images.githubusercontent.com/8848557/114110044-7114d980-988b-11eb-8e5b-16a01f0f3d3b.png)

[2021-04-09 07:20] thegrims commented on #217
It looks like the issue is related to form elements that use a custom controller

[2021-04-09 08:40] zakpatterson commented on #217
The same issue exists on the F1099 form and the dependent form

[2021-04-10 05:38] #217 closed

[2021-04-11 05:24] #31 closed

[2021-04-12 06:30] zakpatterson opened #224 "Fix main page container grid system"
The form container grows horizontally if a contained component is too wide, for example if the `<LabeledInput>` has a long label.

The custom css for the form component can be adjusted to fix this. Currently in `App.css`, the form width is set using `min-width`. Adding a `max-width` would prevent this from growing.

But we can do better. Also, on mobile the drawer navigation is not showing. So sho

[2021-04-13 07:10] zakpatterson opened #230 "Implement remaining Schedule EIC qualification conditions"
This is a single tracking issue for all remaining qualification conditions that need implementing with respect to Schedule EIC.

View pages 40-47 of the [general instructions](https://www.irs.gov/pub/irs-pdf/i1040gi.pdf)

### Step 1 - All Filers
* [x] 1.1 - Income limits by number of children
* [ ] 1.2, both spouses must have a SSN issued before 2020 due date and without work restriction and valid

[2021-04-14 07:17] dependabot-preview[bot] opened #236 "Dependabot couldn't find the branch dependabot-updates"
Dependabot was set up to create pull requests against the branch `dependabot-updates`, but couldn't find it.

If the branch has been permanently deleted you can update Dependabot's target branch from your [dashboard](https://app.dependabot.com/accounts/ustaxes).

[View the update logs](https://app.dependabot.com/accounts/ustaxes/update-logs/76600361).

[2021-04-14 07:21] zakpatterson commented on #236
Oops, I probably caused this, I merged #233, what’s the right procedure for getting those dependabot commits?

[2021-04-15 01:55] thegrims commented on #236
no worries, we can just create a new branch for dependabot-updates, I think it's generally good when a branch is deleted after it is merged

[2021-04-15 05:49] #236 closed

[2021-04-20 04:57] thegrims opened #243 "Add eslint github action"

[2021-04-20 04:58] thegrims opened #244 "Add unit test github action"
Add unit test github action that runs against PRs, running all jest tests in the project. If any of them fail, that check fails on the pull request

[2021-04-20 23:43] thegrims opened #246 "Create 404 page"
Create 404 page that shows up when a user navigates to a page that is not defined in Urls const

[2021-04-21 05:48] #224 closed

[2021-04-25 18:46] thegrims opened #252 "Sign MacOS desktop application"
When the MacOS dmg application created by the application is run, the message below appears because the app is not signed by a developer certificate

![image](https://user-images.githubusercontent.com/8848557/116004720-dae5f080-a5b8-11eb-8e0d-a5ccd9ab1a58.png)

These linked steps show how to incorporate code signing into the github actions pipeline
https://localazy.com/blog/how-to-automatically-si

[2021-04-30 06:46] zakpatterson opened #264 "Need a new component for modal form, list management"
Adding 1099s, W2s, spouse, and dependent all use a common UI, where the user is able to add N items, then edit the items, or remove the items. I'm about to add another such one for managing investment properties for Schedule E. So we need a UI element that encapsulates opening a form, showing a list of items, editing items, and removing items.

[2021-05-04 00:34] #264 closed

[2021-05-05 14:51] mohzulfikar commented on #243
Hi, I want to work on this issue. Can you please assign me? @thegrims
Also, in what directory should eslint check? is it on src?

[2021-05-05 15:02] zakpatterson commented on #243
Hi @mohzulfikar, thanks for reaching out. I would checkout the lint command that is set up in `package.json`. For example if you run `npm run lint`, the linter runs on all the source directories.

[2021-05-06 14:36] eoncarlyle opened #275 "Broken links in Project Architecture"
Changing documentation location broke links to directories and files in `src/` on the Project Architecture page

[2021-05-06 14:52] #275 closed

[2021-05-07 09:00] mohzulfikar commented on #243
Thanks for replying. I'll open the PR shortly.

[2021-05-08 03:08] thegrims opened #279 "Merge filing status page content into spouse and dependents page"

[2021-05-10 08:55] dependabot-preview[bot] opened #284 "Dependabot couldn't find the branch dependabot-updates"
Dependabot was set up to create pull requests against the branch `dependabot-updates`, but couldn't find it.

If the branch has been permanently deleted you can update Dependabot's target branch from your [dashboard](https://app.dependabot.com/accounts/ustaxes).

[View the update logs](https://app.dependabot.com/accounts/ustaxes/update-logs/79600486).

[2021-05-13 05:12] #284 closed

[2021-05-13 08:47] zakpatterson opened #294 "Passive losses from schedule E"
If schedule E creates a net loss, then a negative number is brought forward to the 1040 which reduces taxable income.

If schedule E has a net passive loss, then form 8582 must be used to figure the negative number that may be brought forward to the 1040.

[2021-05-13 08:51] #279 closed

[2021-05-15 08:09] thegrims commented on #121
@zakpatterson Should we close this now? I think edit icons have been added to all list items

[2021-05-15 08:24] #121 closed

[2021-05-16 18:47] #244 closed

[2021-05-16 18:51] thegrims commented on #294
was this addressed by https://github.com/ustaxes/UsTaxes/pull/283 ?

[2021-05-16 21:59] zakpatterson commented on #294
No, #283 only added a calculation to figure what amount of the net income from Schedule E contributes to the investment income cap for qualifying for EIC. This issue deals with the passive activity net loss limitation. Basically passive investment activities that create a net loss are only able to subtract from other passive activities.

Real estate commissions for example are not deductible from

[2021-05-20 12:44] eoncarlyle commented on #246
@thegrims I'll try to take care of this on Saturday

[2021-05-20 12:44] eoncarlyle commented on #108
@thegrims I'll write a draft landing page addressing this on Saturday or Sunday, the supported income/credits/states in the README look like a good starting point

[2021-05-20 18:27] thegrims commented on #108
Sounds great!

[2021-05-21 11:48] zakpatterson opened #307 "Default file save name, extension, location"
There should be a default file save name and location on desktop and web. For windows, a dialog pops including a blank file type. I assume if we just set a default file save name with `.pdf` as the extension then this will be fixed.

![](https://user-images.githubusercontent.com/8848557/119102761-3dbb8380-b9cf-11eb-95a6-d2ff0bba5a65.png)

On the desktop version if we can select a default file dire

[2021-05-25 16:38] #307 closed

[2021-05-25 23:11] zakpatterson commented on #246
To be clear though this is not actually a 404 error since the user is served the html whenever the server gets a request that doesn't match one of the static files it has.

Then if the route doesn't match we can either show an error page or a redirect to a default page. If we had a descriptive Get Started page I think that would be a good place to redirect to. Until then I think an error page is g

[2021-05-26 08:14] dependabot-preview[bot] opened #318 "Dependabot couldn't find the branch dependabot-updates"
Dependabot was set up to create pull requests against the branch `dependabot-updates`, but couldn't find it.

If the branch has been permanently deleted you can update Dependabot's target branch from your [dashboard](https://app.dependabot.com/accounts/ustaxes).

[View the update logs](https://app.dependabot.com/accounts/ustaxes/update-logs/81226213).

[2021-05-27 21:29] thegrims commented on #318
readded the branch

[2021-05-27 21:29] #318 closed

[2021-05-28 16:43] dependabot-preview[bot] opened #328 "Dependabot couldn't find the branch dependabot-updates"
Dependabot was set up to create pull requests against the branch `dependabot-updates`, but couldn't find it.

If the branch has been permanently deleted you can update Dependabot's target branch from your [dashboard](https://app.dependabot.com/accounts/ustaxes).

[View the update logs](https://app.dependabot.com/accounts/ustaxes/update-logs/81493936).

[2021-05-28 16:56] #328 closed

[2021-05-28 19:22] thegrims commented on #246
The page not found PR has been successfully merged and deployed

[2021-05-28 19:22] #246 closed

[2021-07-01 08:51] #70 closed

[2021-07-02 06:37] #97 closed

[2021-07-02 06:37] #108 closed

[2021-07-02 07:45] nothingismagick opened #380 "Tauri Source outdated"
please consider updating to latest tauri source. There's been hundreds of fixes in the past month, performance enhancements (esp on windows) and overall stability.

[2021-07-02 07:54] zakpatterson commented on #380
Hey @nothingismagick, so awesome of you to stop by! We're a little behind on dependency versions. Are you talking about our tauri dependency, or the stuff going on in `src-tauri/`? We have not customized anything in there yet.

[2021-07-02 07:59] nothingismagick commented on #380
The tauri deps specifically in the Cargo.toml and in your package.json

[2021-07-02 08:40] zakpatterson opened #385 "Getting started switch for desktop version"
The getting started page includes buttons that say "Start return in browser", and "Download desktop version". We need to show something else for the desktop.

[2021-07-03 02:21] zakpatterson commented on #385
Summoning @eoncarlyle, would you be interested in this as a follow on to #331? There's one other place where we test for desktop vs browser usage, [see here](https://github.com/ustaxes/UsTaxes/blob/f07ca4d3f4924915cf0076717c937f26ab1983a9/src/pdfFiller/pdfHandler.ts#L5).

[2021-07-03 20:52] #380 closed

[2021-07-05 08:06] dependabot-preview[bot] opened #386 "Dependabot couldn't find the branch dependabot-updates"
Dependabot was set up to create pull requests against the branch `dependabot-updates`, but couldn't find it.

If the branch has been permanently deleted you can update Dependabot's target branch from your [dashboard](https://app.dependabot.com/accounts/ustaxes).

[View the update logs](https://app.dependabot.com/accounts/ustaxes/update-logs/84546879).

[2021-07-05 09:33] zakpatterson commented on #386
@dependabot hi

[2021-07-06 00:32] eoncarlyle commented on #385
@zakpatterson sounds good, what would make sense for the desktop version to show?

[2021-07-06 01:56] #386 closed

[2021-07-10 01:31] thegrims opened #416 "Option should be removed to add spouse income when married filing separately is checked"
currently when MFS is selected income can be added from a spouse, when that income should be added to the spouse's tax return, not the one being filed

[2021-07-10 14:42] zakpatterson commented on #416
This is an interesting one. Should selecting MFS remove income attributed to spouse? Should we output two separate returns? Should we allow income to be entered but display some kind of warning that it's removed at print time due to filing status?

[2021-07-11 01:21] zakpatterson commented on #385
Also, the start return in browser button currently causes a page refresh, where it should just be switching the active page. See https://github.com/ustaxes/UsTaxes/blob/master/src/components/pager.tsx#L44, where react-router's `Link` component is used instead of `href`.

[2021-07-15 07:39] #416 closed

[2021-07-17 20:39] thegrims opened #428 "'Do you have a foreign address?' checkbox not triggering input for foreign country and address"

[2021-07-19 04:01] #428 closed

[2021-07-25 22:20] #385 closed

[2021-07-29 23:45] brianherman opened #456 "Bored Software Developer looking for something to do State Of Illinois Support"
How would I begin on adding support for the great state of illinois. I have a lot of free time on my hands and would love to work on typescript.

[2021-07-30 00:05] thegrims commented on #456
@zakpatterson

[2021-07-30 00:10] zakpatterson commented on #456
I also file in IL. Since this would be the first state we would add, the most important part will be designing the code structure and UI for convenient implementation of future states as well. By all means take a first stab at it, open a PR early even if nowhere near feature complete, and I'll help out.

Also join the discord channel if you haven't already.

Thanks for stopping by I look forward t

[2021-07-30 04:13] zakpatterson opened #457 "Use of numeric types in js/ts for currency considered harmful"
There has been a lot of feedback ([here](https://news.ycombinator.com/item?id=27998452#28004145) for example) that we should be using bignumber instead of plain js floats for calculations. [There are accuracy problems with floats](https://en.wikipedia.org/wiki/Floating-point_arithmetic#Accuracy_problems)

Do we need to switch? On one side, we're rounding to whole dollars, so is any precision loss

[2021-07-30 04:27] zakpatterson opened #458 "Add annotations in comments for numeric values"
We have all of our numeric values in src/federal/data.ts, but it would be nice to have annotations sourcing each value. These should contain a link to the document they come from, a page number, and a copy paste if helpful noting exactly the justification for that numeric value.

Comes from feedback posted [here on HN](https://news.ycombinator.com/reply?id=28001247&goto=item%3Fid%3D27998452%232800

[2021-07-30 04:35] evert commented on #457
Plug for my much faster library: https://www.npmjs.com/package/bigint-money

It uses BigInt under the hood, and is written in TS. Hope this isn't too spammy

[2021-07-30 04:46] zakpatterson commented on #457
Hm, nice github alert bot?

I'll definitely check it out, thanks!

[2021-07-30 06:59] evert commented on #457
Nah, I ran into this from a Hackernews thread today =)

[2021-07-30 07:27] bluSCALE4 opened #461 "Layout Issues"
Noticed some minor layout issues and some big ones. The sidebar below cannot close so it shouldn't overlay the content. If we want to toggle it, then it we can get away with it. I'm of the opinion if it provides a ToC / nav / progress of the content, then it should push the content to the side.

![image](https://user-images.githubusercontent.com/200427/127615923-71e3e7f9-b239-4a27-a485-d7b8329f609

[2021-07-30 07:43] zakpatterson commented on #461
I will add a couple sections to this.

[2021-08-02 00:57] zakpatterson opened #465 "Require signed commits"
Thinking about code security, from some point going forward we should require signed commits.

https://withblue.ink/2020/05/17/how-and-why-to-sign-git-commits.html

This will be a little annoying for new contributors' PRs, but when a user sends a new PR, if commits are unverified, we would ask them to follow [this tutorial](https://docs.github.com/en/github/authenticating-to-github/managing-commit

[2021-08-03 04:01] eoncarlyle opened #474 "Create unit tests for W2 Information"
Create unit test module `W2JobInfo.test.tsx` for the `W2JobInfo.tsx` module

[2021-08-03 04:16] zakpatterson commented on #474
Would you like to take the first shot at that?

[2021-08-03 18:23] eoncarlyle commented on #474
@zakpatterson I can take a shot at this

[2021-08-05 05:14] thegrims commented on #465
Thanks for the link! Good thing to be aware of

[2021-08-07 08:43] zakpatterson commented on #456
@brianherman, I went ahead and got started on #478. Please take a look, it could use help!

[2021-08-23 02:01] eoncarlyle opened #481 "Support apostrophes in names"
The application should be able to support apostrophes in names, which can be common for Irish-American surnames. Changing the form validation to address this should be straightforward

![image](https://user-images.githubusercontent.com/12573703/130379769-db973d61-ac7c-41be-9625-26b18f961cd8.png)

[2021-08-23 02:09] zakpatterson commented on #481
It would be nice to find a document supporting what exact characters are allowed. For example what characters, if any, not used in the English language are allowed?  I would think hyphens should also be allowed.

[2021-08-23 02:17] thegrims commented on #481
Good catch!

[2021-08-25 04:58] zakpatterson commented on #461
Aiming to make the drawer behave similarly to [this one](https://www.w3.org/TR/WCAG21/#audio-only-and-video-only-prerecorded), with the content pushed right in tablet-landscape size and up, and below.

[2021-08-25 08:24] bluSCALE4 commented on #461
Current menu PR doesn't take into account orientation but its a step in the right direction.

[2021-08-26 02:02] thegrims opened #504 "AGPL License"
https://www.reddit.com/r/freesoftware/comments/otqezh/open_source_tax_filing_website/h70bvpz?utm_source=share&utm_medium=web2x&context=3

[2021-08-27 03:58] #504 closed, assigned to nobody

[2021-08-27 19:18] bluSCALE4 opened #511 "A11y and UX Issues"
Did a quick little audit. All in all, I don't believe anything would be considered a blocking issue. As @zakpatterson mentioned, the PDF being accessible would help by allowing the user to verify what they've received is complete, valid, and correct.

A11y
- [x] Update page headers #548
- [x] SkipTo links
- [ ] Sitemap
- [ ] Maintain focus when adding / removing entries
- [ ] H1 tag missing
- [ ]

[2021-08-28 04:38] bluSCALE4 opened #512 "Issues loading saved data for properties and student loans"
After adding an entry in Real Estate or Student Loan Interest, when the user clicks edit, the fields are not populated with stored values as expected.

[2021-08-28 04:42] bluSCALE4 opened #513 "Forms need to be broken down into multiple forms"
Currently, an entire page is a form and this doesn't work when we have features where you can "Add" entries. For example, if you are adding an entry and you hit enter, the submit on the main form will fire and the changes will be lost.

[2021-08-28 11:41] zakpatterson commented on #513
`<form>`s don't nest though. So given the current dom-structure, it would be hard to implement it as separate `<form` elements with their own `onSubmit` events right?

[2021-08-28 20:31] bluSCALE4 commented on #513
`<form>`'s can't be nest but we technically are doing that. We can try wrapping sub forms with a portal to resolve the problem.

[2021-08-30 04:02] bluSCALE4 commented on #513
I gave this more thought and I suppose there are a few options. The first is to leave it as is but add validations on that force the user to enter data or maybe ask if they want to proceed without x record.

The other option is to use portals to create sub forms. This would allow us to move code around without actually doing so.

The other is to add enter key handlers.

The last would be to move t

[2021-08-31 01:31] #512 closed

[2021-08-31 01:33] thegrims opened #521 "Missing vertical padding / margin on 1099 SSA form labeledInputs"
![image](https://user-images.githubusercontent.com/8848557/131427194-06c8bc30-3617-463f-8aa2-8cba7903d8d2.png)

[2021-09-02 16:36] bluSCALE4 opened #534 "Issue with W2 page"
While adding a W2, if a W2 is selected to be edited, the new data is lost.

[2021-09-04 04:14] zakpatterson commented on #534
Good catch, need to rewrite some of FormListContainer so it handles groupings on its own. Almost done.

[2021-09-04 07:15] bluSCALE4 commented on #521
#522

[2021-09-05 07:29] #534 closed

[2021-09-06 19:13] eoncarlyle commented on #481
@zakpatterson page 103 of the [California Birth Registration Handbook](http://www.avss.ucsb.edu/MANUALS/Handbook.pdf) provides hyphens, apostrophes, periods, and commas as acceptable punctuation - what are our thoughts on using these rules?

[2021-09-06 19:38] thegrims commented on #481
I could also just remove the validation regex so that the field accepts any text and leave it up to the user to enter their name correctly

[2021-09-07 05:44] zakpatterson commented on #481
Not having found any restriction in the IRS instructions, I think this is the way.

[2021-09-08 04:24] #513 closed

[2021-09-08 04:29] bluSCALE4 opened #549 "Improve UX for adding records"
Right now, when a user is adding or modifying a record, is the user hits enter or clicks next / previous, data will be lost.

Scenario 1
Current Behavior:
User clicks add / edit
User fill out information
User presses enter
Data is lost

Expected Behavior:
User clicks add / edit
User fill out information
User presses enter
Record is saved

Scenario 2
Current Behavior:
User clicks add / edit
User fi

[2021-09-10 08:51] zakpatterson opened #554 "Properties need to be indexed by state"
Rental properties in different states add to different states' tax returns

[2021-09-10 08:54] zakpatterson opened #555 "IL Tax return can only select single filing status"
The filing status field is implemented as a radio button. It's not clear how to fill this field with PDF lib

[2021-09-15 00:39] thegrims opened #562 "Native Android keyboard dismissed when opened on site"
https://photos.app.goo.gl/Kx1KQkV6eNwN6AC3A

[2021-09-15 00:40] thegrims commented on #562
https://user-images.githubusercontent.com/8848557/133351987-acae90cb-a679-4521-9a65-abd2e193049b.mp4

[2021-09-15 04:42] thegrims opened #564 "1099 SSA information not rehydrated correctly"
![recording](https://netlify-cocoon.netlify.app/.netlify/functions/fetch?code=307&path=eyJzaXRlX2lkIjoiNDFlZmU0NTYtYTg1ZC00ZmVkLTlmY2YtNTVmZTRkNWFhN2ZhIiwiZGVwbG95X2lkIjoiNjE0MTczNzQzYzVmMWYwMDA3ODYyN2RjIiwiaWQiOiJlM2ZkY2JkYS1mNTE3LTQ5MDUtYmE2ZC1lNWI3MmFiMTYwZmIifQ==)

[2021-09-15 05:21] thegrims commented on #564
On looking at the redux state it actually looks like the information is persisted correctly, but the net benefits and federal income tax withheld are not being correctly filled back in

[2021-09-16 00:27] zakpatterson commented on #562
The same thing is not happening on iOS, but if I click outside of a field to dismiss the keyboard, the entire form behaves like it's being selected? Not exactly sure.
https://user-images.githubusercontent.com/1987109/133530152-31e17b0f-cc1f-453d-9714-8b56b994f5c9.MOV

[2021-09-27 05:16] zakpatterson opened #588 "Random failures in unit tests"
This failure happens about 40% of the time on CI only and can often be passed by just rerunning the job.

[code]

[2021-10-03 02:45] zakpatterson commented on #588
Again on master branch:

https://github.com/ustaxes/UsTaxes/runs/3779711227

[2021-10-03 02:47] zakpatterson commented on #201
* [x] Updated github workflows to lint and test on pushes to master 242216
* [x] Set publishing to only happen on push of tag f6424f

[2021-10-03 02:47] #201 closed

[2021-10-03 07:19] zakpatterson commented on #588
Narrowed this down to the `SpouseAndDependent` tests. Multiple `it` statements are executed with asynchronous promises. It seems if one of them fails then the dom will be destroyed. In the middle of that another test that's running will try to access document, causing this error.

[2021-10-05 06:47] thegrims commented on #564
Resolved!

[2021-10-05 06:47] #564 closed

[2021-10-06 00:59] n8ta commented on #588
If you add an await in front of this getByText you'll see an error

[code]

[code]

I'm not sure how to fix but I think this is the problem.

[2021-10-07 22:49] thegrims opened #617 "Dark mode toggle"
Currently, dark mode is set though system colors. We should also have a toggle to allow users to choose a different color if they choose

[2021-10-07 22:52] thegrims opened #618 "Add bottom padding to alerts"
Alerts on the /income/w2jobinfo page should have bottom padding

![image](https://user-images.githubusercontent.com/8848557/136472927-fdbabbfd-eae6-4aa2-9b50-80f2b2cd6f81.png)

[2021-10-08 00:08] joshuali7536 commented on #618
Hi, I would like to take on this issue.

[2021-10-08 01:48] JohannesFischer commented on #617
I might be able to help you with that. Where were you thinking to place the toggle? In the settings or should it be available at all times in the sidebar for example?

[2021-10-08 13:19] #618 closed, assigned to nobody

[2021-10-08 20:15] thegrims opened #621 "Merge contact information page into primary taxpayer page"
- Add form fields & logic in contact information page to primary taxpayer page
- Remove contact information page
- Remove references to /contact route

[2021-10-08 20:27] skodamarthi commented on #621
@thegrims Can I work on this?

[2021-10-08 20:34] thegrims commented on #621
@skodamarthi yeah absolutely!

[2021-10-09 21:54] skodamarthi commented on #621
@thegrims Raised a PR for this. Can you please check and let me know if any additional changes are needed? Thanks!

[2021-10-10 06:23] #465 closed

[2021-10-11 07:31] #621 closed, assigned to nobody

[2021-10-13 03:29] thegrims opened #634 "Merge summary page into review and print page"
- Add credit summary display & logic in summary page to review and print page
- Remove summary page
- Remove references to /summary route

[2021-10-14 02:29] thegrims opened #641 "Multiple tax years feature needs reverting"
![recording](https://netlify-cocoon.netlify.app/.netlify/functions/fetch?code=307&path=eyJzaXRlX2lkIjoiNDFlZmU0NTYtYTg1ZC00ZmVkLTlmY2YtNTVmZTRkNWFhN2ZhIiwiZGVwbG95X2lkIjoiNjE2NzMyNjg2MDhhMjYwMDA4Yjg3NDZiIiwiaWQiOiIwMjM5MDljNi0wNWU2LTQyNzgtYTQwYi01ZDE3MDc4NDMwYjEifQ==)

### Description of issue

### Expected result

### Actual result

### Steps to reproduce
1.
2.
3.

[code]

[Open in BrowserStack](

[2021-10-14 02:36] #641 closed, assigned to nobody

[2021-10-14 07:03] Infinity-Intellect commented on #634
Thanks @thegrims , I have addressed that change in the PR, as well as removed all references  to `/summary`.

[2021-10-18 02:37] #634 closed

[2021-10-18 08:14] thegrims opened #650 "Write unit tests for F1099Info"
Acceptance Criteria:
- jest unit tests for src/components/income/F1099Info.tsx
- coverage above 80%

[2021-10-19 05:52] thegrims opened #654 "Write unit tests for W2JobInfo"
Acceptance Criteria:
- jest unit tests for src/components/income/W2JobInfo.tsx
- coverage above 80%

[2021-10-21 01:18] thegrims commented on #562
@zakpatterson I think this issue can be closed now, has been fixed by https://github.com/ustaxes/UsTaxes/pull/606 thoughts?

[2021-10-21 01:22] thegrims opened #665 "Write unit tests for fillPdf.ts"
- Jest unit tests for src/pdfFiller/fillPdf.ts
- coverage above 80%
- should have meaningful tests

[2021-10-21 01:23] thegrims opened #666 "Write unit tests for pdfHandler.ts"
- Jest unit tests for src/pdfFiller/pdfHandler.ts
- coverage above 80%
- should have meaningful tests

[2021-10-21 01:29] #562 closed

[2021-10-21 01:30] thegrims opened #667 "Create sitemap"
Addresses one of the accessibility issues laid out in https://github.com/ustaxes/UsTaxes/issues/511
- Create sitemap and add it to the ./public directory
- Alternatively, add build step to generate sitemap on the fly

[2021-10-21 09:36] ilyaryabchinski commented on #665
I am gonna take this one if you don't mind :)

[2021-10-21 11:47] zakpatterson commented on #654
@arisaokasaka let us know if you can take another look? The above are from running on master right now.

[2021-10-21 22:28] #654 closed

[2021-10-24 18:28] #650 closed, assigned to aserputov

[2021-10-30 00:47] zakpatterson opened #697 "Error / state handling incorrect for filing status"
Steps to reproduce:

1. Save filing status as single
2. Add spouse  [Observe that filing status is blanked out (no selection)]
3. Save page  [Observe page transition, and filing status single is set as a redux action]

Single is not a valid filing status if a spouse is present, so an error should be displayed in the UI, and the action should not be sent.

It would be nice if the action creator cou

[2021-10-30 02:51] #697 closed

[2021-10-31 03:32] dbelokon commented on #549
Hello!

I managed to work on this issue, and I got a working solution for it! I will follow up with a PR shortly

[2021-10-31 03:46] thegrims commented on #549
@dbelokon that's great! Thanks

[2021-11-01 00:53] arthur322 commented on #667
Hello! Can I get this one?

[2021-11-01 00:54] zakpatterson commented on #667
Go for it! Appreciate your interest.

[2021-11-01 06:27] thegrims opened #700 "If foreign address is checked, it incorrectly remains checked even if it is unchecked"
![recording](https://netlify-cocoon.netlify.app/.netlify/functions/fetch?code=307&path=eyJzaXRlX2lkIjoiNDFlZmU0NTYtYTg1ZC00ZmVkLTlmY2YtNTVmZTRkNWFhN2ZhIiwiZGVwbG95X2lkIjoiNjE3ZTI4NWJhZWY3MDcwMDA3ZDcyZjIxIiwiaWQiOiJjMWMyNjQ3Ni1kMjFlLTRkYjgtODhjMi02ODU4YmRkNDkyMWQifQ==)

[code]

[Open in BrowserStack](https://www.browserstack.com/user/try-live?url=https%3A%2F%2Fdeploy-preview-699--ustaxes.netlify.ap

[2021-11-01 09:09] zakpatterson opened #701 "Not required values in form being pushed to state"
1. Add a W2, with nothing entered for state wages
2. click edit
3. click save
4. observe a "numeric value" error under the state wages field.

The data is being pushed to the redux store as NaN

![image](https://user-images.githubusercontent.com/1987109/139648449-fcd307d6-f19e-43bc-9fc0-2afb24fb01a9.png)

There is a schema error about this, but the schema error does not prevent the data from being

[2021-11-10 15:05] #665 closed

[2021-11-10 20:43] #549 closed

[2021-11-25 01:45] zakpatterson opened #753 "W2 Medicare wages allowed to be greater than actual wages"
It's possible to have wages be zero, add medicare wages above the threshold, and have taxes due with no income.

[2021-11-25 02:12] zakpatterson commented on #753
Fixing forms portion here: https://github.com/ustaxes/ustaxes-forms/pull/3

Should resolve as we finish #662

[2021-12-18 16:15] zakpatterson opened #789 "Migrate react-router to v6"
react-router has gone through a major update.

Our dependency issues:
* react-router-last-location
  * [Users have been begging maintainers](https://github.com/hinok/react-router-last-location/issues/65) for new version for several months. we could fork this repo and release updates, or just insource the functionality.
 * This dependency is also blocking us from upgrading to React 17.
 * `react-ro

[2022-01-01 01:45] #753 closed

[2022-01-03 04:45] #701 closed

[2022-01-09 04:48] #205 closed

[2022-01-13 04:36] zakpatterson opened #848 "Add support for uncovered transactions (other investment income) F8949"
This covers a lot of things people might have, such as real estate sales, cryptocurrency transactions.

* [ ] Add UI to add positions one at a time like other forms (Dependents, W2s, 1099s)
* [ ] Add UI to add investment positions in bulk via csv parsing

[2022-01-30 06:33] thegrims opened #877 "Change default starting year to 2021 from 2020"

[2022-01-30 22:27] gnoejuan opened #879 "Uncaught (in promise) Error: Validation Failed: /box12/DD: must be number || Numeric value passed as string"
Looking at the console, it looks like the value is stored as a string. The other fields, such as income, show as a number. ​

Numbers changed for reasons
income: 00000.00, medicareIncome: 000000.00,

as opposed to

box12: {
...
DD: "0000.00"
...
}

[2022-01-30 23:13] gnoejuan commented on #879
I'm not familiar enough with react to suggest a fix, at the moment.

I see that the working field (income) has the same setup as the non-working field.

<input aria-invalid="false" id="income" name="income" type="text" class="MuiInputBase-input MuiFilledInput-input MuiInputBase-inputAdornedStart MuiFilledInput-inputAdornedStart" value="000.00" data-com.bitwarden.browser.user-edited="yes">

<input

[2022-01-31 17:31] dweiss2 commented on #879
I have the same error. I can't save my W-2 because of this. When I checked the console it seems all values for box 12 are strings and should be numbers. In the dump below all actual dollar values changed to XXX.XX for obvious reasons.

`A: undefined
AA: undefined
B: undefined
BB: undefined
C: "XXX.XX"
D: "XXX.XX"
DD: "XXX.XX"
E: undefined
EE: undefined
F: undefined
FF: undefined
G: undefined
GG: u

[2022-01-31 17:46] dweiss2 commented on #879
@gnoejuan I figured out a workaround.

1.  Fill out all other boxes of the W-2 and critically, do not hit "Edit" for line 12.
2. Go to the app settings (ustaxes.org/settings) with the gear icon and save to data file.
3. Open the exported json and add the appropriate information to the blank box 12 object; `"box12: {}` changes to `box12: {"D": 0000.00}`
4. Back in the settings, load the modified js

[2022-01-31 18:21] dweiss2 opened #880 "Medicare wages are not allowed to be greater than wages"
I have an error saying "Medicare wages are not allowed to be greater than wages" on the review and print section. This is definitely wrong because my W2 box 5 is larger than my box 1. This is allowed since anything contributing to pre-tax things like 401(k)s (box 12D). I can verify this by seeing that Box 1 + Box 12D = Box 5.

[2022-01-31 21:00] zakpatterson commented on #877
Fixed by #878

[2022-01-31 21:00] #877 closed

[2022-01-31 21:53] zakpatterson commented on #879
Thanks so much @gnoejuan and @dweiss2 for this well explained report. We developed a fix for this as well as #880, and it should be live soon. You're welcome to try it here: https://deploy-preview-881--ustaxes.netlify.app/

You should be able to save your json file as you mentioned from the live version, then import it into the preview.

Thanks for the feedback!!

[2022-02-01 00:18] #879 closed

[2022-02-01 00:18] #880 closed

[2022-02-01 00:22] thegrims commented on #880
This issue should be fixed now on the site! Thanks for filing an issue @dweiss2

[2022-02-01 00:23] thegrims commented on #879
This bug should be fixed now on the site! Thanks, @gnoejuan  @dweiss2

[2022-02-01 00:27] gnoejuan opened #882 "Slight Disagreement with employer name validation, not sure if it matters though"
I worked for a Texas grocery chain, H-E-B, LP

The form won't submit with the validation message: "Input should only include letters and spaces"

Does it matter that on the W-2 its "H-E-B, LP", which I **assume** means that's the legal name of the company, or does it make no difference?

[2022-02-01 00:37] zakpatterson commented on #882
Great idea, @gnoejuan. Those fields are just user information and do not impact the 1040 at all, but being overly restrictive causes the confusion you encountered, so we'll fix it! Thanks for continuing to give great constructive feedback.

[2022-02-10 01:43] gnoejuan opened #911 "1098-E Name of Lender: Input should only include letters and spaces"
Another small qwip for name validation.

U.S Department of Education fails the validation for 1098-E Name of Lender field.

Edit: I moved forward with just US

[2022-02-10 04:21] zakpatterson commented on #911
Thanks for the report, I went ahead and took care of that. If you're running from master the validation should be fixed. Thanks again!

[2022-02-10 04:21] #911 closed

[2022-02-16 09:18] zakpatterson opened #934 "Add UI to add investment positions in bulk via csv parsing"

[2022-02-16 09:20] zakpatterson commented on #934
Not sure what happened here!

[2022-02-16 09:20] #934 closed

[2022-02-21 10:04] zakpatterson opened #947 "Add diff report build step for years' forms implementations"
We should know the impact of a PR in terms of the line difference between the forms' years directories.

The way we are modeling the IRS pdfs, rather than relying on subclassing or some other abstraction, we allow complete copy-paste code duplication between the form implementations of each form for each tax year. This means a form such as Schedule D which has no significant changes from 2020 to 2

[2022-02-21 14:40] kushtrimjunuzi opened #948 "docker build error"
Hi there, just wanted to report this issue when building docker image, the only change I did in Dockerfile was changing node version to 16.14.0, because the version 14 that was on the master is not working ether.
I'm going to try and fix this if I can, thanks all for this project.

[code]

[2022-02-22 23:13] thegrims commented on #948
Hmm I was able to run that command successfully
[code]

[2022-02-27 14:12] dwstanley commented on #948
I ran into the same issue. In the current version `docker-compose build` will complete successfully (as demonstrated by @thegrims). However, if you run `docker-compose up` it will fail, with a complaint about required npm version.

[code]

If you attempt to fix this by changing the Dockerfile to use a new version of Node the build no longer works, resulting in the error @kushtrimjunuzi posted. Thi

[2022-02-27 14:38] zakpatterson commented on #948
I don't use docker that often, so would you @dwstanley try checking out the branch from #957 and see if that solves your issue? Thank you.

[2022-02-27 14:58] dwstanley commented on #948
@zakpatterson That fixed it for me. Thanks!

[2022-02-27 14:59] zakpatterson commented on #948
Great, based on @dwstanley's feedback, I'm going to merge that fix and close this issue, please feel free to reopen @kushtrimjunuzi if it's not working for you. Thanks!

[2022-02-27 14:59] #948 closed

[2022-03-04 01:28] zakpatterson opened #972 "Smooth out starting process, SEO"
We are thinking about things we could add that would make more people aware of the site. Some ideas are below, feel free to comment with more ideas!

# Tax Calculator
We could add something like this as an alternative way to get users interested in the site:

https://smartasset.com/taxes/income-taxes

https://www.nerdwallet.com/taxes/tax-calculator

After completing the information in the tax-calc

[2022-03-06 04:30] ssigwart commented on #947
It might make sense to also search for `[FilingStatus.S]` and the other statuses.  Seems like that's often how thresholds are set and they may change from year to year.

[2022-03-06 07:26] zakpatterson opened #975 "Migrate IL tax for 2021"
User from twitter DM'ed the USTaxesorg handle asking for us to update the tax forms for 2021.

[2022-03-06 22:19] thegrims commented on #972
Thanks for doing this write up!

[2022-03-10 08:21] #555 closed

[2022-03-10 08:21] #975 closed

[2022-03-11 04:21] zakpatterson opened #994 "Add user feedback / bug report link"
* User should see a "Something wrong? Tell us" link quietly off in a corner
  * Direct to a new back page with our email: use `feedback@ustaxes.org"
  * Include option to generate an anonymized user state json file for download. This should just X out all the names, social numbers, employer names, bank names, etc.

[2022-03-15 05:08] zakpatterson opened #1008 "Build parser for the Wage and Income Tax Transcript"
Taxpayers that receive any statement reportable to the IRS with their SSN should have a "Wage and Income Tax Transcript" [Available here](https://www.irs.gov/individuals/get-transcript).

This PDF, when downloaded, is copy pasteable, not rasterized, so it should be parseable.

[2022-03-15 13:28] ProjectInitiative opened #1012 "Binaries not published for 0.1.18"
us-taxes_0.1.16_amd64.AppImage
![Screenshot from 2022-03-15 08-26-24](https://user-images.githubusercontent.com/6314611/158387914-95104f1b-8efe-4d8a-99a8-bede6a18560f.png)

[2022-03-15 13:30] ProjectInitiative commented on #1012
The current web version does not have this issue, however there is no provided 0.1.18 appimage available in releases.

[2022-03-15 13:34] zakpatterson commented on #1012
Thank you for letting us know. I'll see if I can push another release now. The binary releases are done manually whenever we think there is some new meaningful feature to share, and we are way behind because lately there have been many.

Please join the discussion on discord!

[2022-03-15 20:05] thegrims commented on #1012
@zakpatterson Yeah, I think the latest versions of tauri/tauri build are broken but got automerged because the build check doesn't include tauri build aspects. I tried to fix this last week, but got sidetracked.

[2022-03-17 02:52] gtoubassi commented on #1008
I am super excited about this possibility but I think the problem is that this info is not available until too late, possibly only available once the return is filed.  For example as of two days ago my 2021 wage/tax transcript is still empty (even though of course I've received various 1099's and thus so has the IRS!).  In fact it says something like "No return on file" so it may be a thing that t

[2022-03-17 06:40] zakpatterson commented on #1012
Successfully released. https://github.com/ustaxes/UsTaxes/releases

[2022-03-17 06:40] #1012 closed

[2022-03-17 07:31] zakpatterson opened #1018 "Navigating to Review and Print page without filing status breaks app"
App goes blank if user has not picked a filing status and navigates to review page.

[2022-03-17 23:04] #1018 closed

[2022-03-19 03:22] zakpatterson opened #1022 "Prompt component defects"
In desktop, Page route changes while displaying prompt.

[2022-03-19 16:43] ssigwart opened #1024 "Support Line Memoization and Rounding Options"
- Split out of https://github.com/ustaxes/UsTaxes/pull/955#discussion_r820168488

- The approach here is to make each line call either `lineFn` or `lineFnNumber`.  These will both memoize and allow for a setting to say whether a field should be rounded to match how https://www.freefilefillableforms.com treats rounding.
- I have the a mini prototype of this, but want to get some feedback before upd

[2022-03-19 16:45] ssigwart opened #1025 "Investigate PDF generation slowness"
- Split out of https://github.com/ustaxes/UsTaxes/pull/955#discussion_r820168488

Reply from @zakpatterson:

[2022-03-20 18:41] thegrims commented on #700
@zakpatterson What are your thoughts on removing the ability to file in foreign countries, since we don't currently support deducting the foreign country's income tax from the U.S. federal income tax

[2022-03-21 21:53] xxxserxxx opened #1032 "App is broken on Node 17"
None of the instructions work on my machine:

Running with npm:
[code]

Said log is 6,816 lines long and mostly "silly reify" and "verbose unfinished npm timer" messages.

Running with docker-compose; the "build" exits with status 0 and showed no obvious errors, but the run:

[code]

Ok, how about the desktop:

[code]

What's `tauri`? It isn't listed in the dependencies.

- rustc --version
  rustc

[2022-03-22 01:13] zakpatterson commented on #1032
Hi, thanks for trying out the project, I'll try to help you get it sorted.

Up until now I think `nvm use stable` has been installing a node 16 for me, but now it seems it's providing a node 17. Our project does seem broken on node 17 although I'm not seeing the same behavior as you.

The Dockerfile is also trying to load latest node, so that should explain that.

So I suggest first trying to get

[2022-03-22 01:57] zakpatterson commented on #1032
I'm trying to reproduce the issues you're having on Docker, can you join the discord?

[2022-03-23 01:36] zakpatterson commented on #1032
Great, thanks so much for the report.

[2022-03-23 01:37] zakpatterson commented on #1032
I'm reopening this to track the progress of getting the app to run on Node 17.

[2022-03-26 14:17] ProjectInitiative opened #1047 "Incorrect Schedule 1 Generation"
Part II section 24

Line item 26 calculation is placed in line item 25

Version 1.19

[2022-03-27 20:06] #1047 closed

[2022-03-27 20:07] thegrims commented on #1047
@ProjectInitiative Merged a bugfix into master and deploying. Thanks for adding this issue.

[2022-03-28 01:37] zakpatterson opened #1050 "AJV validation causing release to break"
Compiled binaries will show just a blank screen.

To debug, we must run: `npx tauri build --debug`, then we can see the console error:

[code]
Caused by:

[code]

Should be solved by following this guide:

https://github.com/ajv-validator/ajv/blob/master/docs/standalone.md#two-step-process

[2022-03-28 01:41] scandey opened #1051 "Can't complete W2: always get "data will be lost""
Every time I try to enter info into the W2 page and clock save+continue, I get:
[code]
If I choose cancel, the entire W2 screen reloads and loses everything immediately. If I choose OK, I continue to the 1099 page, but if I return to the W2 page, the entire W2 entry is gone. After replicating this a few times with fake inputs, I was able to continue and see that the W2 entry appeared to have been

[2022-03-28 02:04] zakpatterson opened #1052 "Hide Save & Continue Button if user is still adding/editing a thing"
Having two save buttons available is not good. User should have to click save or discard to get the "Save and Continue" button.

[2022-03-28 04:34] thegrims commented on #1051
Thanks for the report! On the job information page, there is a separate save button and a discard button in addition to the back and save and continue buttons. Did you press the save button before pressing the save and continue button on the page? The data is saved on a per-job basis, so the UI can be a little confusing
![image](https://user-images.githubusercontent.com/8848557/160326989-bec7c467-

[2022-03-28 04:55] scandey commented on #1051
I'm pretty sure I initially tried "Save and Continue", but on later attempts I tried first just doing a "Save" without the continue. There is no error message after "Save", but pressing "Save and Continue" after that still triggered the warning (and failed to save  data either way). It is not impossible I managed to corrupt the saving system somehow on an initial attempt (ampersand character in em

[2022-03-28 18:57] #1050 closed

[2022-03-29 02:21] zakpatterson commented on #1052
Sure, I'll leave it like that for a few days, let us know if you have questions, join the discord if you haven't already.

[2022-03-29 14:26] genesisoliva opened #1061 "Docker document startup procedure for windows (permissions issue)"
Error: EACCES: permission denied, open 'src/core/data/validate-fns.js'

app_1  |     at Object.openSync (node:fs:585:3)

app_1  |     at Object.writeFileSync (node:fs:2153:35)

app_1  |     at Object.<anonymous> (/home/node/app/scripts/setup.ts:67:4)

app_1  |     at Module._compile (node:internal/modules/cjs/loader:1101:14)

app_1  |     at Module.m._compile (/home/node/app/node_modules/ts-node/s

[2022-03-29 14:54] genesisoliva commented on #1061
I just ran it through Docker container

[2022-03-30 02:15] zakpatterson commented on #1061
I really want to help, but I would need you to tell me the steps you used to get this error. Are you running it in command line? Or through some hosting service?

If you followed the steps [here](https://github.com/ustaxes/UsTaxes/#docker) and it didn't work then we can fix it. If there's something else you did that should be supported, then we would like to amend the instructions and get that wor

[2022-03-30 05:45] scandey commented on #1051
Can't reproduce when I tried tonight, so issue could be closed until/unless this rears its head again.

Thinking back though, I bet I tried to Save And Continue without Save first, and that in combination with something else somehow ended up in a state where nothing related to the W2 was saving properly.

[2022-03-30 05:45] #1051 closed

[2022-03-30 05:50] scandey opened #1063 "Wishlist: Include less common boxes on 1099-Div"
Currently only the first few boxes from 1099-Div are included, but it would be nice to handle cases for forms that include reporting on state bonds, which are normally federal tax free (and state tax free in the particular state).

Since they aren't common, perhaps hiding the additional entries under a drop down or something may be in order to simplify the interface for the common case?

[2022-03-30 06:02] zakpatterson commented on #1063
Can you document which boxes are needed and where the information is supposed to be reported?

As in,
What new UI fields are needed?
What amounts are included in what boxes on what forms?

Thank you!

[2022-03-30 13:01] genesisoliva commented on #1061
![E0981FC6-6CC1-406C-8A77-3F4BB7B59AF5](https://user-images.githubusercontent.com/42148976/160840285-9bc1486b-2706-4d96-86c7-06c9ca73c491.png)

[2022-03-30 13:30] zakpatterson commented on #1061
Ok I hadn't heard about this thing before, apparently it's called [Docker Desktop](https://docs.docker.com/desktop/)

I attempted to get docker desktop to run on my machine and failed, so please try running this via the currently supported [command line instructions linked above](https://github.com/ustaxes/UsTaxes/issues/1061#issuecomment-1082545871), using [docker-compose](https://docs.docker.com

[2022-03-31 02:07] zakpatterson opened #1069 "8960 does not respect salt deduction limit"
For the reasonable methods of attributing state taxes to investment income, we are to use "any reasonable method" to derive a ratio of state and local taxes attributable to investment income. So

[From instructions 8960 for line 9b](https://www.irs.gov/pub/irs-pdf/i8960.pdf):

Does that mean state and local taxes are not deductible for 8960 if the standard deduction is taken?

They should also be

[2022-03-31 22:51] genesisoliva commented on #1061
PS C:\Users\Genny\UsTaxes> docker-compose up
[+] Building 274.9s (18/18) FINISHED
 => [internal] load build definition from Dockerfile                                                                                                                      0.1s
 => => transferring dockerfile: 709B

[2022-03-31 22:57] genesisoliva commented on #1061
$ docker-compose up
Container ustaxes-app-1  Created
Attaching to ustaxes-app-1
ustaxes-app-1  |
ustaxes-app-1  | > ustaxes@0.1.20 start
ustaxes-app-1  | > node ./notice.js && ts-node ./scripts/env.ts && ts-node ./scripts/setup.ts && concurrently npm:dev
ustaxes-app-1  |
ustaxes-app-1  |
ustaxes-app-1  |     ustaxes helps you build your tax return forms for free
ustaxes-app-1  |     Copyright (C)

[2022-03-31 23:01] genesisoliva commented on #1061
THIS IS CMD

C:\Users\Genny\UsTaxes>docker-compose up
[+] Running 1/0
 - Container ustaxes-app-1  Created                                                                                0.0s
Attaching to ustaxes-app-1
ustaxes-app-1  |
ustaxes-app-1  | > ustaxes@0.1.20 start
ustaxes-app-1  | > node ./notice.js && ts-node ./scripts/env.ts && ts-node ./scripts/setup.ts && concurrently npm:dev
ustaxes-

[2022-04-01 00:04] thegrims commented on #1061
@genesisoliva thanks for the logs, I'm seeing the same issues with docker desktop

[2022-04-01 00:21] genesisoliva commented on #1061
I got it to run, but when I open it in the browser it gives me a "This page isn’t working localhost didn’t send any data.
ERR_EMPTY_RESPONSE"

[2022-04-01 00:53] genesisoliva commented on #1061
PS C:\Users\Genny\UsTaxes> docker-compose build
[+] Building 6.3s (17/17) FINISHED
 => [internal] load build definition from Dockerfile                                                                                      0.4s
 => => transferring dockerfile: 32B                                                                                                       0.1s
 => [internal] load .dockerigno

[2022-04-01 01:37] zakpatterson commented on #1061
That file `validate-fns.js` is generated by the line in your log that says `ts-node ./scripts/setup`, so the docker container has to be able to create that file. I don't have a windows machine to test this on but it looks like there might be an extra step you have to take on windows to make sure there are write permissions for commands run by the docker container.

https://stackoverflow.com/questi

[2022-04-01 16:59] tmm1 commented on #1063
this is a useful resource: https://personal.vanguard.com/pdf/1099DIV_FINAL_012021.pdf

- line 5: Section 199A dividends
  - feeds into QBI calculation on Form 8995, resulting in possible entry on 1040 line 13 (Qualified business income deduction)

- line 7: Foreign taxes paid (+ line 8: foreign country)
  - reported on Form 1116 to receive tax credit
    - for foreign taxes paid in multiple countr

[2022-04-01 17:16] tmm1 commented on #1008
It does appear as though the transcript itself is based on your return:

According to that doc, the earliest you can receive a transcript is 2-3 weeks *after* you file your return.

[2022-04-01 17:19] gtoubassi commented on #1008
Nice find on the docs.  I hadn't seen that.  Just changing that policy would really unlock some possibilities.  Its possible there is some questionable logic like "if we tell taxpayers what we know then they may decide not to tell us about stuff we don't know, so better to keep them guessing."

[2022-04-01 17:22] tmm1 commented on #1008
Just to confirm, I requested my 2021 Wage and Income Transcript and it says "No record of return filed."

Seems to me like the data is not present in this system until the return is filed and processed.

[2022-04-01 17:24] gtoubassi commented on #1008
Yes thats what I get.  But the IRS does have this correct?  By law those 1099's have already hit their systems.  Maybe it hasn't propagated to whatever system actually can render the transcript but they have the data somewhere, no?

[2022-04-02 04:46] zakpatterson commented on #1008
This is nuts. I know this used to work because there was always a form I was missing and I would use this to get the details I needed.

Anyway if this is really how it is then maybe we all should just file a blank 1040 in February and then amend before the deadline.

[2022-04-02 07:06] thegrims commented on #1008
Plaid has a payroll API that might be useful for gathering W2 information
https://plaid.com/docs/api/products/income/#creditpayroll_incomeget

[2022-04-02 10:01] zakpatterson commented on #1008
Our whole mission is to protect user privacy and user data. I don't think we can interop with plaid.

[2022-04-03 23:42] gtoubassi commented on #1008
@zakpatterson that's really interesting you have been able to download the transcript before the filing date!  Have you tried the "head fake" to see if you can unlock the data?  I'm somehow not excited about filing a blank or temporary return :).  But that's super good to hear that maybe this is not a deep policy thing but a bug or something that has a workaround.

[2022-04-04 02:00] zakpatterson commented on #1008
@gtoubassi This was a few years ago at least. Also I was definitely under extension, so it's possible that this transcript opens up if a user files for an extension.

By no means suggesting people wrongly file a zero income return ha..

[2022-04-04 02:03] tmm1 commented on #1008
I plan to file an extension this year so I can verify that theory.

[2022-04-04 02:16] gtoubassi commented on #1008
Actually I'm doing an extension as well so will check as well!

[2022-04-05 03:45] zakpatterson commented on #1008
![image](https://user-images.githubusercontent.com/1987109/161674655-0a7b4e6f-b59d-447a-899c-b22f3fb2b880.png)

The IRS page shows this for the wage and income transcript. I don't know why the PDF, if downloaded, displays "No record of return filed". Maybe that's actually referring to forms that reporters are required to file that match to taxpayer's ssn.

[2022-04-07 06:48] philiplantz opened #1091 "Error installing desktop version on Windows 7"
I don't know if Windows 7 is supposed to be supported, so feel free to ignore this if it isn't.

us-taxes_0.1.20_x64_en-US.msi
Windows 7 Home Premium

I got two pop-ups during installation. The first one did not always occur. The second one always occurs and aborts the installation.

Warning 1946.Property 'System.AppUserModel.ID' for shortcut 'us-taxes.lnk' could not be set.

There is a problem wi

[2022-04-07 06:53] thegrims commented on #1091
https://docs.microsoft.com/en-us/troubleshoot/windows/win32/warning-1946-when-you-install-installer-package
Here's what looks to be the cause of the issue. Maybe there's a tauri config we could change?

[2022-04-07 06:57] philiplantz opened #1092 "Form 6251 Part III"
I observed two problems in this form.

line 14: Should be Schedule D line 19. Instead it is set to Schedule D line 14.
line 15: If Schedule D Tax Worksheet is not used, line 15 should be equal to line 13. Instead it is 0.
line 33: Should be line 22 minus line 32. Instead it calculates the sum.

[2022-04-07 07:07] philiplantz opened #1093 "Schedule 8812"
Schedule 8812 line 5 should be 0 if line 4a is 0.

Part I-B is blank, but I think that is a result of the first problem.

Part III line 33 is 40,000. It should be 60,000 for married filing jointly.
Line 34 should be line 3 minus line 33. Instead it is equal to line 3.

[2022-04-07 07:14] philiplantz opened #1094 "Cash charitable contribution on 1040 line 12b"
I didn't see a way to put a value on this line. I thought it might propagate from the cash charitable contributions line in the itemized deductions page, but it doesn't seem to do that.

[2022-04-07 07:18] zakpatterson commented on #1094
Thanks for the report!

[2022-04-07 08:52] philiplantz commented on #1093
I don't have a way to build and test yet, so I'm just putting this here for safekeeping.

**Schedule8812.ts**
line 127 insert:
    if ((this.l4a() ?? 0) === 0) {
        return 0
    }

line 128 should be: l4b() * 3600

line 483 should be:
        if (fs === FilingStatus.MFJ || fs === FilingStatus.W)

line 492 should be:
      const l34 = Math.max(0, this.l3() - this.l33())

[2022-04-07 09:06] philiplantz commented on #1094
I don't have a way to build and test yet, so I'm just putting this here for safekeeping.

**F1040.ts**
line 461:
[code]

[2022-04-07 09:36] philiplantz commented on #1092
Also Form 6251 sequence number is wrong.
F6251.ts line 13 should be:  sequenceIndex = 32

[2022-04-08 08:42] zakpatterson commented on #1092
I worked to fix this today, see the PR: https://github.com/ustaxes/UsTaxes/pull/1097

Also if you would like to review and approve the fix, that would be appreciated. The PR code is deployed as a preview: https://deploy-preview-1097--ustaxes.netlify.app/start

Note you can save your data from ustaxes.org or however you're running the code, and then load it in the preview, by clicking the settings

[2022-04-08 08:45] zakpatterson commented on #1093
Would you like to review the fix for this issue?

Deploy preview is here: https://deploy-preview-1095--ustaxes.netlify.app/

I added a suggestion for importing your data into the preview in your other issue.

Thanks so much!

[2022-04-08 10:26] philiplantz commented on #1093
This fixes the problems in lines 5, 33, and 34.

Unfortunately I forgot to include the problem with line 10 in the original bug report.

Line 10 has the subtraction reversed. It should be line 3 minus line 9.
l10 = (): number => Math.max(0, nextMultipleOf1000(this.l3() - this.l9()))

[2022-04-08 10:53] philiplantz commented on #1092
Lines 14 and 15 seem to be fixed.

Line 30 is blank.
Instead of l30 = Math.min(0, l24, l29)
it should be l30 = Math.min(l24, l29)

Line 38 should be l18 + l31 + l34 + l37.  Instead it is l17 + l31 + l34 + l37.

[2022-04-08 10:56] philiplantz commented on #1092
Thanks for the nice instructions on how to test this.

One question about testing: once Form 6251 is working correctly with my inputs, my AMT will be 0, so the form won't be included in the PDF. Is there a way from the UI to see what the form looks like even when it won't be filed because the bottom line is 0?

[2022-04-08 12:29] zakpatterson commented on #1093
Good catch, updated.

[2022-04-11 00:21] philiplantz commented on #1093
Schedule 8812 now seems to be filled out correctly.
However, line 14h of schedule 8812 should be entered online 19 of form 1040, but line 19 is still blank.

[2022-04-11 00:25] zakpatterson commented on #1093
thank you so much for these clear issue reports!

[2022-04-11 00:41] philiplantz commented on #1092
All the problems I encountered are now fixed.

With certain values for income and deductions, form 6251 is generated even though AMT is zero.
With other (similar) values, form 6251 is not generated (which I assume is correct behavior).

[2022-04-11 00:58] zakpatterson commented on #1092
Reopening to track when Amt should be generated.

This was a great idea, sorry I missed it since this issue was closed automatically.

I think we need some way to inspect any such form. We are planning to show more feedback from the PDFs as users input data. So this would be a good thing to include.

[2022-04-12 18:59] #1093 closed

[2022-04-13 01:27] zakpatterson opened #1110 "[RFC] - Add browser extension that fills data in FreeFileFillableForms"
@tmm1 has done some experimenting with building a browser extension targeting FFFF. We should build a renderer that sends final results to FFFF.

  * At "Review and Print" step, user should have an option to "Send to FreeFileFillableForms"
    * If the browser extension is detected, the data should be sent to the browser extension
      * The extension should offer some summary view of the importe

[2022-04-13 01:28] zakpatterson opened #1111 "Add advance child tax credit payments [Schedule 8812]"
In 2021, a few advance premium tax credits were sent. Those need to be added to user data, so the correct amounts can be calculated on Schedule 8812

[2022-04-13 03:47] zakpatterson commented on #1093
@philiplantz Since you were such a great help in reviewing Schedule 8812, would you like to review the advance child tax credits pull request: https://github.com/ustaxes/UsTaxes/pull/1112?

Aside from the impact of 2225 which we haven't started yet, this should be the last step for 8812.

[2022-04-13 03:52] zakpatterson opened #1113 "Form 8960 (net investment income tax) only considers w2 income for inclusion"

[2022-04-13 03:53] zakpatterson commented on #1113
@ctSkennerton, I'm reworking the logic about when to include forms. Each form has its own inclusion criteria, but that logic is spread out among lots of places.

[2022-04-13 04:14] ctSkennerton commented on #1113
yeah it's pretty unwieldy. I can think of a couple of things to do:

1. Make a method on the form class that all schedules need to implement that says whether they should be attached.
2. or alternatively, Include all forms by default but only print them out if at least one of their fields isn't blank.

It might make sense to do a variation with both actually. That way a form will need to say the c

[2022-04-14 05:01] shaomeng opened #1115 "1099-B (Broker Transaction) should consider wash sale loss disallowed"
The current UI only considers "Proceeds" and "Cost basis" but not "Wash sale loss disallowed" on a 1099-B, which results in incorrect "Net gain or loss."

[2022-04-14 05:26] zakpatterson commented on #1115
Thank you! We'll work to get this in soon.

[2022-04-14 05:41] shaomeng commented on #1115
I'm happy to help so please feel free to let me know if and how I could help :)

[2022-04-14 05:47] zakpatterson commented on #1115
If you have time that would be appreciated! Join the discord if not already and let us know if you have any problems getting started!

[2022-04-14 05:54] philiplantz commented on #1069
These are both very good questions. I have researched both several times since 8960 first appeared and found a variety of inconsistent answers. Different tax software (TurboTax, TaxAct, etc.) have taken different approaches, and some have changed from one to another over time. I don't think there is clear guidance in IRS publications. I haven't checked to see if there is anything new this year.

M

[2022-04-14 05:56] philiplantz commented on #1069
One option might be a cop-out -- let the user choose.

[2022-04-14 06:45] zakpatterson commented on #1115
Where should this data go? Does it subtract from cost basis and just affect schedule D or does a line need to be added to 8949 for it? Because I think either is possible with the current implementation, maybe we just need a note?

[2022-04-14 13:48] zakpatterson commented on #1113
Working through adding the first option as you suggest, an `isNeeded: () => boolean` method with default true in the Form superclass.

It's tricky though because in many places we're using something like `this.scheduleA !== undefined` to test if some computation applies...tracking all that down now.

[2022-04-14 15:42] shaomeng commented on #1115
This data goes to the (g) column of Schedule D and it should be filed on a 8949 and copied to Schedule D. I'll look into Discord ;)

[2022-04-15 02:38] #1111 closed

[2022-04-15 13:05] zakpatterson opened #1122 "K-1 Dividends and Interest income"
K-1 dividend and interest income flow through easily to schedule B and should be pretty painless to add.

[2022-04-15 13:12] zakpatterson commented on #1025
I think this could be solved with a kind-of simple refactoring.

As currently implemented each line is a function, which might be dependent on each other function. So each form has this stupid factorial complexity, where L2 can depend on L1, and L3 can depend on L1,L2, etc... Then across many forms each line can be recalculated hundreds of times.

We don't need a complicated caching / memoization

[2022-04-16 00:59] ssigwart commented on #1025
Did you mean to post this on #1024?

Yeah, that's the fun part about trying to do taxes.

[2022-04-16 19:41] jeff-hykin opened #1123 "1099-B withheld income not included"
If I'm understanding correctly, there should be 845.29 in this box
![Screen Shot 2022-04-16 at 2 38 16 PM](https://user-images.githubusercontent.com/17692058/163689186-394e6500-ecfc-4c10-b33f-09301191549e.png)

Based on this form:

![Screen Shot 2022-04-16 at 2 35 30 PM](https://user-images.githubusercontent.com/17692058/163689195-fd8731aa-5bc8-4cc6-a24b-0b95e838ecb0.png)

The final reimbursement

[2022-04-17 00:38] thegrims commented on #1123
Hi Jeff,

Usually, 1099-B income is not withheld, and that assumption is baked into the form. However, you should find that income reported under SCHEDULE D (Capital Gains and losses) and on line 7 of the 1040 form. I have not seen any brokerages withhold long term or short term stock gains. Does yours?

[2022-04-17 03:38] zakpatterson commented on #1123
It can happen based on individual circumstances (backup withholding, maybe others) what Jeff is describing just looks like capital gain income like Aidan is saying.

We should support withholding on 1099-b though. [It's box 4 and box 16 of 1099-B. ](https://www.irs.gov/pub/irs-pdf/f1099b.pdf)

[2022-04-17 14:06] jeff-hykin commented on #1123
I'm not sure. My accounts are very simple though, and I'm using Schwab. The only transaction this year was switching funds from a index fund to gold (and I had to convert to cash to make that change). I was surprised myself that the 1099-B had a withheld amount.

The only reason I detected the possible error is I was filling out TurboTax alongside to compare to using this repo.

[2022-04-17 16:16] tmm1 commented on #1123
All of the 1099s have a box 4 federal tax withheld (including DIV, MISC, OID)

[2022-04-17 16:20] tmm1 commented on #1122
K1s can also have capital gains which flow to Schedule D

In some cases the long term gains reported on the K1 have to be reclassified as short term if they don't need a three year holding period ([section 1061 faq 3](https://www.irs.gov/businesses/partnerships/section-1061-reporting-guidance-faqs)). For those extra entries need to be added to 8949 labeled "Section 1061 Adjustment"

[2022-04-17 16:21] tmm1 commented on #1115
Specifically wash sale transactions are listed on 8949 with adjustment code W

I would recommend that the 1099B datastructure add a list of transactions which flow into 8949

[2022-04-20 17:11] tmm1 commented on #1069
FWIW, Drake Tax calculates it [as so](https://kb.drakesoftware.com/Site/Browse/12509/8960-Net-Investment-Income-Tax):

[2022-05-02 13:24] zakpatterson opened #1168 "Strange focus behavior on 1099 edit view"
On 1099 page, with 1 or more 1099s existing,

1. Click edit
2. Attempt to change a number
3. Notice the focus is taken back to the "Type of" dropdown.

[2022-05-02 13:35] zakpatterson commented on #994
This was added in #1161

[2022-05-02 13:35] #994 closed

[2022-05-03 19:16] tmm1 commented on #1008
Checked my transcript again today and it's still empty.

Also saw this today, only tangentially related but interesting: https://twitter.com/goodmanl/status/1521097438127435777?s=21&t=tN1WKGxuKueyHK60GTiOPA

[2022-05-03 20:11] gtoubassi commented on #1008
Yes I checked as well a few days ago and saw the same.  Starting to assume it just pops in once you file (perhaps with some propagation delay), but we will see.  Thanks for the tweet reference!  Interesting.

[2022-05-23 21:22] tmm1 commented on #1008
My transcript now contains W2 and 1099 data even though I have not filed my taxes.

[2022-05-23 21:53] gtoubassi commented on #1008
Same here!  I checked just a few weeks ago (well after the filing deadline) and it was still empty.

[2022-05-27 03:53] thegrims opened #1215 "Create separate field for initial"
Some forms, like the OR-40, have a separate field for an initial. Creating a separate field for an initial would make it easier to parse out and fill those fields. https://www.oregon.gov/dor/forms/FormsPubs/form-or-40_101-040_2021.pdf

[2022-05-27 04:48] #789 closed

[2022-05-30 03:30] zakpatterson commented on #1022
Prompt was removed in #1016

[2022-05-30 03:30] #1022 closed

[2022-11-28 18:03] Anvil5465 opened #1525 "Bridge Discord channel to Matrix or create new room in Matrix?"
I attempted to create a Discord account because I'm interested in contributing to this project, but I was prevented from creating an account because I don't own a non-VoIP phone number (for privacy reasons), so I did not pass the verification step. I would really appreciate it if Matrix were used instead of Discord or if the Discord channel were bridged with Matrix so that folks don't have to comp